networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.99.0/24
          gateway: 192.168.99.1

services:
  devbox:
    build: devbox
    ports:
      - "1980:80"
      - "19443:443"
    volumes:
      - ./:/box:ro
      - ./src:/src:rw
      - /etc/localtime:/etc/localtime:ro
    # required to start x11 programms (run: "xhost +local:" on host)
      - /tmp/.X11-unix:/tmp/.X11-unix
    environment:
      - DISPLAY=${DISPLAY}
    # required for strace / gdb / nice
    cap_add:
        - SYS_PTRACE
        - CAP_SYS_NICE
    networks:
      default:
        ipv4_address: 192.168.99.99
